.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 32px;
  padding-bottom: 16px;
}

.App-header-title {
    font-size: calc(24px + 2vmin);
}

.App-link {
  color: #09d3ac;
  text-decoration: none;
}
